.container {
  display: flex;
  justify-content: center;
  align-items: center;

  h3 {
    display: flex;
    width: 55%;
    white-space: normal;

    font-weight: bold;
    color: rgb(12, 15, 109);
    text-transform: uppercase;
    font-size: 18px;
  }
}